@model JellyFish.Models.Job



@{
	ViewData["Title"] = "Index";
}



<style>
	#call-to-action {
		text-align: center;
		margin: 2em 0;
	}

		#call-to-action h1 {
			font-size: 4em;
			margin-bottom: 0.5em;
			color: #3b5e9c;
		}

		#call-to-action p {
			font-size: 1.8em;
			max-width: 790px;
			margin: 0 auto;
			color: #555;
		}

	jobs-search {
		display: flex;
		justify-content: center;
	}

	#jobs-search input {
		padding: 0.9em;
	}

	#jobs-search [type=text] {
		width: 22em;
		border: 1px solid rgb(119, 119, 119);
	}


	#jobs-search #searchBtn {
		background-color: #3b5e9c;
		color: white;
		font-weight: 600;
		padding: 1em;
		width: 8em;
		border: none;
	}

	/* JOBS FILTER */

	#filter-select {
		padding: 0.5em 1em;
		text-align: center;
		background-color: rgb(213, 213, 213);
		border-radius: 5px;
	}

	#job-container {
		font-size: 1.2rem;
		padding: 18px 1em;
		border: 1px solid rgba(144,146,148,0.2);
		position: relative;
		margin-bottom: 8px;
		box-shadow: 1px 1px 2px #ccc;
	}




	#appyBtn {
		float: right;
		/* background-color: #3b5e9c; */
		color: #3b5e9c;
		font-weight: 600;
		padding: 1em;
		width: 8em;
		border: 0.5px solid #3b5e9c;
		margin-right: 20px;
	}
</style>


<section id="call-to-action">
	<h1>
		The #1 Job Board for
		<br />
		<span>IT Professionals</span>
	</h1>
	<p>Find the companies looking to hire or post a job if you are hiring</p>






</section>









<table class="table">
	<thead>
		<tr>


			<th>
				Applicant First Name
			</th>

			<th>
				Applicant Last Name
			</th>
			<th>
				Skills
			</th>
		

			<th>
				Actions
			</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.Applicants)
		{
			<tr>

				<td>
					@Html.DisplayFor(model => item.User.FirstName)
				</td>
				<td>
					@Html.DisplayFor(model => item.User.LastName)
				</td>

				<td>
					<p>
						@foreach (var iteme in item.User.UserSkills)
						{
							@(iteme.Skill.Name + "    ")
						}
					</p>

				</td>
				


				<td>
					<a asp-controller="Applicants" asp-action="Details" asp-route-id="@item.ApplicantId">View</a>
					<a asp-action="Edit" asp-route-id="@item.JobId">Accept</a> |
					<a asp-action="Details" asp-route-id="@item.JobId">Decline</a> |

				</td>
			</tr>
		}
	</tbody>
</table>



<a asp-action="Index" asp-controller="Home">Back to List</a>
<script>
	tinymce.init({
		selector: 'textarea',
		width: 600,
		height: 300,
		plugins: [
			'advlist', 'autolink', 'link', 'image', 'lists', 'charmap', 'preview',
			'anchor', 'pagebreak',
			'searchreplace', 'wordcount', 'visualblocks', 'visualchars', 'code',
			'fullscreen', 'insertdatetime',
			'media', 'table', 'emoticons', 'template', 'help'
		],
		toolbar: 'undo redo | styles | bold italic | alignleft aligncenter alignright alignjustify | ' +
			'bullist numlist outdent indent | link image | print preview media fullscreen | ' +
			'forecolor backcolor emoticons | help',
		menubar: 'favs file edit view insert format tools table help',
		content_css: 'css/content.css'
	});
</script>