@model List<Applicant>

@{
    ViewData["Title"] = "MyJobs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    #job-container {
        gap: 1em;
        display: flex;
        font-size: 1.2rem;
        padding: 18px 1em;
        border: 1px solid rgba(144,146,148,0.2);
        position: relative;
        margin-bottom: 8px;
        box-shadow: 1px 1px 2px #ccc;
        background-color: white;
    }
</style>

<h1 id="jobsTitle">My Jobs</h1>

@*<p>
    <a asp-page="Create">Create New</a>
</p>*@


<section id="jobs">
    @if (Model.Count() > 0)
    {
        foreach (var item in Model)
        {
            <a id="ind-job" style="text-decoration:none; color:black" asp-controller="Jobs" asp-action="Details" asp-route-id="@item.JobId">
                <div id="job-container">
                    <img style="object-fit:contain" height="100" width="100" alt="company Logo" src="@item.Job.Employer.Company.Logo" />
                    <div>
                        <h4>@item.Job.Title</h4>
                        @*<button id="appyBtn">Apply</button>
                <button id="appyBtn">Save</button>*@
                        <h5>@item.Job.Employer.Company.Name</h5>
                        <div style="display:flex; gap:0.5em; margin-top:15px">
                            @*<p style="font-size:medium; font-weight:600; background-color:#f3f4f6; padding:0.2em 0.5em;">@item.JobType.Name</p>
                            <p style="font-size:medium; font-weight:600; background-color:#f3f4f6; padding:0.2em 0.5em;">@item.Level.LevelName</p>*@
                        </div>
                    </div>
                </div>
            </a>
        }
    }
    else
    {
        <p>No Jobs Foudn</p>
    }




</section>
@*
<table class="table">
    <thead>
        <tr>
            <th>
                Title
            </th>

            <th>
                Company
            </th>
            
            <th>
                Salary
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Job.Title)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Job.Employer.Company.Name)
                </td>
               
                <td>
                    @Html.DisplayFor(model => item.Job.Salary)
                </td>
                @*<td>
            <a asp-page="./Edit" asp-route-id="@item.ApplicantId">Edit</a> |
            <a asp-page="./Details" asp-route-id="@item.ApplicantId">Details</a> |
            <a asp-page="./Delete" asp-route-id="@item.ApplicantId">Delete</a>
            </td>
            </tr>
        }
    </tbody>
</table>
*@